{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="book-grid">
        <!-- Пример карточки -->
        {% for book in books %}
            <div class="book-card">
                <a href="{{ book.get_absolute_url }}" class="home-card">
                     <div class="image-container">
                        <img src="{% if book.image %}{{ book.image.url }}{% else %} {% static 'img/noimage.png' %}{% endif %}" class="card-img" alt="">
                    </div>
                    <h3 class="book-tittle" title="{{ product.name }}">{{ book.name }}</h3>
                    <div>
                        <span class="book-author">{{ book.author }}</span>
                        <div class="price-container">
                            {% if book.discount %}
                                    <span class="old-price">{{ book.price }}</span>
                                    <span class="new-price">{{ book.sell_price }}</span>
                            {% else %}
                                    <span class="new-price single-price">{{ book.sell_price }}</span>
                            {% endif%}
                        </div>
                    </div>
                </a>
                <div class="zz">
                    <span class="track-count">📌 154 отслеживают</span>
                    <button class="buy-btn">Купить со скидкой</button>
                </div>
            </div>
        {% endfor %}
    </div>
<!--    <img src="{% static 'img/logo2.png' %}" class="logo" alt="">-->
{% endblock content %}