{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="book-grid">
        <!-- Пример карточки -->
        {% for product in products %}
            <div class="book-card">
                <a href="{{ product.get_absolute_url }}" class="home-card">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %} {% static 'img/noimage.png' %}{% endif %}" class="card-img" alt="">
                    <h3 class="hh">{{ product.name }}</h3>
                    <p class="book-author">Алексей Иванов</p>
                    <div class="price-container">
                        {% if product.discount %}
                                <p class="old-price">{{ product.price }}</p>
                                <span class="new-price">{{ product.sell_price }}</span>
                        {% else %}
                                <span class="new-price">{{ product.sell_price }}</span>
                        {% endif%}
                    </div>
                </a>
                <p class="track-count">📌 154 отслеживают</p>
                <button class="buy-btn">Купить со скидкой</button>
            </div>
        {% endfor %}
    </div>
<!--    <img src="{% static 'img/logo2.png' %}" class="logo" alt="">-->
{% endblock content %}