{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{product.name}}
{% endblock title %}

{% block content %}
    <div class="detail-product">
        <div class="detail-book-title-section">
            <div class="detail-book-title">
                <h1 class="detail-book-title-h1">{{ book.name }}</h1>
                <h3>{{ book.author }}</h3>
            </div>
        </div>
        <div class="detail-book-img">
            <picture class="detail-picture">
                <img src="{% if book.image %}{{ book.image.url }}{% else %} {% static 'img/noimage.png' %}{% endif %}" alt="" class="detail-image">
            </picture>
        </div>
        <div class="detail-description">
            <p class="detail-anatation">Аннотация</p>
            <div class="detail-anatation-text">
                <span>
                    {{ book.description|linebreaks }}
                </span>
            </div>
        </div>
        <div class="detail-order">
            {% if book.discount %}
                <div class="card-discount d-flex gap-2">
                    <p class="line">$ {{ book.price }}</p>
                    <p>$ {{ book.sell_price }}</p>
                </div>
            {% else %}
                <p class="price">$ {{ book.price }}</p>
            {% endif%}
            <form action="{% url 'cart:cart_add' book.id %}" class="qform" method="post">
                {% csrf_token %}
                <div class="cart-form">
                    {{ cart_product_form }}
                </div>
                <input type="submit" class="add-to-cart-btn" value="Добавить в корзину">
            </form>
        </div>
    </div>
{% endblock content %}